:root {
    --content-font-size: 18px;
    --header-font-size: 28px;
    --pop-font-size: 20px;
}

.mobile-content h2 {
    font-size: var(--header-font-size);
}

.mobile-content :is(p, a) {
    font-size: var(--content-font-size);
}

.mobile-content a {
    text-decoration: none;
    color: yellow;
}

.mobile-content p span {
    font-size: var(--pop-font-size);
    font-weight: 650;
    color: rgb(255, 57, 57);
}

.mobile-about,
.mobile-projects,
.mobile-links {
    margin-bottom: 200px;
    padding: 0 40px;
}

.mobile-about-content,
.mobile-proj-content,
.mobile-sean-links {
    margin-top: 30px;
}
