.mobile-proj-content .mobile-proj-lists {
    margin-top: 20px;
    margin-left: 40px;
}

.mobile-proj-content .mobile-solo-header {
    margin-top: 30px;
}

.mobile-proj-lists li {
    margin-bottom: 20px;
}
