.proj-content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 3vh;
}

.proj-lists {
    margin-left: 5vh;
    gap: 2vh;
}

.solo-header {
    margin-top: 2vh;
}

.proj-content ul li {
    margin-top: 2vh;
}
