.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--head-height);
    background: linear-gradient(
        90deg, 
        var(--main-color) 10%, 
        var(--third-color) 100%
    );
}

.header h1 {
    margin-left: 3vh;
    font-size: 40px;
    color: white;
}