.side-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: calc(100% - var(--side-menu-width));
   color: white;
}

.sections {
   scroll-behavior: smooth;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   max-height: var(--section-height);
   width: 60vh;

   /* FireFox Scrollbar */
   scrollbar-width: var(--scroll-bar-width);
   scrollbar-color: var(--scrollbar-color) var(--main-color);
}

/* Scrollbars for Chrome/Safari */
.sections::-webkit-scrollbar {
   width: var(--scroll-bar-width);
}

.sections::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-color);
   border-radius: 5vh;
}

.sections::-webkit-scrollbar-track {
   background-color: var(--main-color);
}

.sections h2 {
   font-size: 35px;
}

.sections :is(p, a, .nj-courts-project) {
   font-size: 20px;
}

#about-me,
#projects,
#links {
   padding: 5vh;
   height: var(--section-height);
}

#links {
   margin-top: 15vh;
   margin-bottom: 10vh;
}

.sections a,
.sections .nj-courts-project {
   text-decoration: none;
   color: yellow;
}

.sections a:hover {
   color: red;
}
