.logos {
    aspect-ratio: 1/1;
    height: 32px;
}

.logos-mobile {
    aspect-ratio: 1/1;
    height: 30px;
}

.link-icons {
    margin-top: 3vh;
    display: flex;
    gap: 3vh;
}

.link-icons-mobile {
    display: flex;
    gap: 3vh;
    margin-top: 20px;
}
