.card {
    width: 40vh;
    padding: 3vh;
    background-color: var(--bg-color-2);
    border-radius: 3vh;
}

.title {
    font-weight: 600;
    font-size: calc(var(--font-size-1) + 2px);
    margin-top: 1vh;
}

.desc {
    font-size: calc(var(--font-size-1) - 2px);
}

.desc .tools {
    text-decoration: none;
    color: var(--orange-500);
    font-weight: 500;
    font-size: calc(var(--font-size-1) - 1px);
}