.content {
  display: flex;
  justify-content: space-between;
}

.content .mobile-content {
  display: none;
}

/* Smaller Screens */
@media screen and (max-width: 999px) { /* 999 because I found that the desktop content still looks fine as low as 1000px */
  .header .resume-btn,
  .side-menu {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .header .resume-btn,
  .side-menu,
  .side-content {
    display: none;
  }

  .content .mobile-content {
    display: block;
    color: white;
  }
}
