:root {
  /* Global Variables */
  /* colors */
  --main-color: rgb(4, 0, 56);
  --third-color: black;
  --scrollbar-color: rgb(48, 48, 48);

  /* sizes */
  --head-height: 10vh;

  /* background-color */
  background-color: var(--main-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'consolas';
  transition: ease-in-out 0.3s;
}
